<h3>Todos List From API</h3>

@if (todoItems().length === 0) {
  <p>Loading todos...</p>
}

<label for="search">Filter Todos</label>
<input
  id="search"
  type="text"
  #searchBox
  placeholder="Search todos"
  (input)="searchTerm.set(searchBox.value)" />

<ul class="todos-list">
  @for (todo of filteredTodos().slice(0, 10); track todo.id) {
    <li class="todo-item" [ngClass]="{ 'completed': todo.completed }">
      <input
        type="checkbox"
        [checked]="todo.completed"
        (change)="toggleCompletion(todo.id)" />
      <h4>{{ todo.title | titlecase }}</h4>
    </li>
  }
</ul>
