<h3>Todos List From API</h3>

@if (todoItems().length === 0) {
  <p>Loading todos...</p>
}

<form class="search-form" autocomplete="off" (submit)="$event.preventDefault()">
  <label for="search">🔍 Filter Todos</label>
  <div class="search-bar">
    <input
      id="search"
      type="text"
      #searchBox
      placeholder="Type to search todos..."
      (input)="searchTerm.set(searchBox.value)" />
    <button type="submit">
      Search
    </button>
  </div>
</form>

<ul class="todos-list">
  @for (todo of filteredTodos().slice(0, 10); track todo.id) {
    <li class="todo-item" [ngClass]="{ 'completed': todo.completed }">
      <input
        type="checkbox"
        [checked]="todo.completed"
        (change)="toggleCompletion(todo.id)" />
      <h4>{{ todo.title | titlecase }}</h4>
    </li>
  }
</ul>
